<section class="list col-md-5">
  <h1><%= link_to list.title, list_path(list.id) %></h1>

  <div class="progress" title="<%= list.percent_complete %>% complete"><div class="complete" style="width:<%= list.percent_complete %>%">&nbsp;</div>&nbsp;</div>

  <p class="vs">
    <%= pluralize list.uncompleted_tasks_count, 'task' %> /
    <%= list.completed_tasks_count %> (<%= list.percent_complete %>%) completed
  </p>

  <% if list.assignee_ids.present? %>
    <ul class="avatars">
      <% list.assignee_names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  <% end %>
</section>
