<h2 class="wunderfont blue">Kanban</h2>

  <section class="row">
    <ul class="nav nav-tabs">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Boards <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @lists.each do |list| %>
            <li><%= link_to list.title, boards_path(:list_id => list.wunderlist_id) %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to "All", boards_path %></a></li>
    </ul>
  </section>

  <section class="row">
    <div class="col-md-4">
      <div>
        <h3 class="wunderfont blue">Open <small><%= @board.open_and_assigned_tasks.count %></small></h3>

        <div class="sortable" id="open">
          <%= render collection: @board.assigned_tasks, partial: "task" %>
          <%= render collection: @board.open_tasks, partial: "task" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h3 class="wunderfont blue">In-Progress <small><%= @board.in_progress_tasks.count %></small></h3>

        <div class="sortable" id="assigned">
          <%= render collection: @board.in_progress_tasks, partial: "task" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h3 class="wunderfont blue">Done <small><%= @board.done_tasks.count %></small></h3>

        <div class="sortable" id="done">
          <%= render collection: @board.done_tasks, partial: "task" %>
        </div>
      </div>
    </div>
  </section>
