<h1>Sprints</h1>

<% @timeline.each do |sprint| %>
  <section class="sprint col-md-12">
    <h1>before <%= sprint.date %></h1>

    <% pct_complete = 100 * sprint.tasks.select(&:completed_at?).count/sprint.tasks.count rescue 0 %>
    <div class="progress" title="<%= pct_complete %>% complete"><div class="complete" style="width:<%= pct_complete %>%">&nbsp;</div>&nbsp;</div>

    <ul>
      <% sprint.tasks.each do |task| %>
      <li><p class="<%= task.completed_at.present? ? "completed" : "" %>"><%= task.title %> - <%= task.due_date %></p></li>
      <% end %>
    </ul>
  </section>
<% end %>


