<!DOCTYPE html>
<html>
<head>
  <title>Boarderland</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag "application", media: "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to("Overview", lists_path) %> </li>
      <li><%= link_to("Sprints", timeline_path) %> </li>
    </ul>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
