<!DOCTYPE html>
<html>
<head>
  <title>Boarderland</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <a class="blue wunderfont navbar-brand" href="/">6w Timeline</a>
      <ul class="nav navbar-nav">
        <li><%= link_to("Timeline", timeline_path) %> </li>
        <li><%= link_to("Progress", lists_path) %> </li>
        <li><%= link_to("Sprints", sprints_path) %> </li>
        <li><%= link_to("Boards", boards_path) %> </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
